    {{!-- <div class="card avail" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/dog.jpg" alt={{item_name}}>
        <div class="card-body">
            <h5 class="card-title">{{item_name}}</h5>
            <p class="card-text">{{start_date}}</p>
            <p class="card-text">{{end_date}}</p>
            <p class="card-text">{{owner_id}}</p>
            <button data-id={{id}} class="rent-btn">RENT for {{price}}</button>
        </div>
    </div> --}}

<div style="width: 18rem;background:lightblue; opacity:0.6 ">
    <img src="/assets/Images/dog.jpg" width="75px">
        <div>
            <h5>{{item_name}}</h5>
            <p>{{start_date}} - {{end_date}} </p>
            <p>{{owner_id}}</p>
            <button data-id={{id}} class="rent-btn">RENT for {{price}}</button>
        </div>
</div>