
<div class="itemsRent">
    <img src="/assets/Images/dog.jpg" width="75px">
        <div>
            <h5>{{item_name}}</h5>
            <p>Availability: {{start_date}} to {{end_date}} </p>
            <button id="rentThisItem"  data-id="{{id}}" data-newtodo="{{available}}">{{#if available}}RENT for {{price}}{{else}}Unavailable{{/if}} 
        </div>
</div>
