{{#each items}}
{{#if available}}
    <div class="card avail" style="width: 18rem;">
    <img class="card-img-top" src={{image}} alt={{name}}>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{desciption}}</p>
        <button data-id={{id}} class="rent-btn">RENT for {{price}}</button>
    </div>
    </div>
{{/if}}
{{#unless available}}
  <div class="card unavail" style="width: 18rem;">
    <img class="card-img-top" src={{image}} alt={{name}}>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{desciption}}</p>
        <button data-id={{id}} class="rent-btn disabled" disabled="true"><s>RENT for {{price}}</s></button>
    </div>
    </div>
{{/unless}}
{{/each}}

{{!-- $(".rent-btn").on("click", function(){ --}}
    {{!-- var itemID = $(this).attr("data-id"); --}}

{{!-- }); --}}

<header>
  <h2>List of Items</h2>
</header>

<form class="create-form">

  <div class="form-group">
    <label for="forrent">Item Name:</label>
    <input type="text" id="forrent" name="name">
  </div>

  <div class="form-group">
    <label for="rentedout">Unavailable</label><br>
    {{!-- <input type="radio" name="sleepy" value="1" checked> Sleepy!<br> --}}
    {{!-- <input type="radio" name="sleepy" value="0"> Awake --}}
  </div>

  <button type="submit">Select Item</button>
</form>