
<div class="rentTransactions">
        <div>
            <h5>{{item_id}}</h5>
            <p>Rented by: {{renter_id}}</p>
            <p>Transaction Dates: {{start_date}} to {{end_date}} </p>
            <p>Total Cost: {{total_cost}}</p>
        </div>
</div>
